---
import Layout from '../layouts/Layout.astro'

const allDiners = await Astro.glob('./diner/*.md')
---

<Layout title="Diner">
  <h1>Diner</h1>
  <ul>
    {allDiners.map((diner) => (
      <li>
        <a href={diner.url}>
          {diner.frontmatter.title}
        </a>
      </li>
    ))}
  </ul>
</Layout>