---
import Layout from '../layouts/Layout.astro'
import RecipeCard from '../components/RecipeCard.astro'

const allDiners = await Astro.glob('./diner/*.md')
---

<Layout title="Diner">
  <h1>Diner</h1>
  <ul class="recipes">
    {allDiners.map((diner) => (
      <RecipeCard href={diner.url}>
        {diner.frontmatter.title}
      </RecipeCard>
    ))}
  </ul>
</Layout>
