---
import Layout from '../layouts/Layout.astro'
import MagicText from '../components/MagicText.astro'
import CategoryCard from '../components/CategoryCard.astro'
---

<Layout title="Meal Planner - Plan your meals">
  <MagicText>MealPlanner</MagicText>
  <p class="instructions">
    De MealPlanner app is bedacht op <strong>makkelijke</strong> en <strong>gezonde</strong> gerechten. Opgedeeld in verschillende categorieen kun je met deze mealplanner een gehele weekplanning samenstellen en je boodschappen er op afstemmen.
  </p>
  <ul role="list" class="link-card-grid">
    <CategoryCard
      href="/diner"
      title="ðŸ½ï¸ Diner"
      body="Seizoensgebonden en vegetarische maaltijden, divers en lekker."
    />
    <CategoryCard
      href="/bijgerecht"
      title="ðŸ¥— Bijgerecht"
      body="Aanvullend op de maaltijd of als opzichzelfstaand."
    />    <CategoryCard
      href="/lunch"
      title="ðŸ¥ª Lunch"
      body="Wraps, brood, shakes, diverse mogelijkheden en gevarieerd eten."
    />
    <CategoryCard
      href="/ontbijt"
      title="ðŸ¥ž Ontbijt"
      body="Pannekoeken, overnight oats, wafels, start je dag goed en gezond!"
    />
    <CategoryCard
      href="/snack"
      title="ðŸª Snack"
      body="Wie zegt dat snacken niet gezond en lekker kan zijn? Let's go!"
    />
    <CategoryCard
      href="/zoetig"
      title="ðŸ° Zoetig"
      body="Taartjes, cakes, cupcakes, en andere zoetigheden."
    />
    <CategoryCard
      href="/overig"
      title="ðŸ¨ Overig"
      body="Dressings, desserts, drankjes, kuidenmixjes, en al het andere."
    />
  </ul>
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.instructions {
    font-size: large;
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
    color: var(--neutral-900);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}

	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}

	.instructions strong {
		color: rgb(var(--accent));
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(34ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
