---
import Layout from '../layouts/Layout.astro'

const allLunches = await Astro.glob('./lunch/*.md')
---

<Layout title="Lunch">
  <h1>Lunch</h1>
  <ul>
    {allLunches.map((lunch) => (
      <li>
        <a href={lunch.url}>
          {lunch.frontmatter.title}
        </a>
      </li>
    ))}
  </ul>
</Layout>