---
import Layout from '../layouts/Layout.astro'
import RecipeCard from '../components/RecipeCard.astro'

const allLunches = await Astro.glob('./lunch/*.md')
---

<Layout title="Lunch">
  <h1>Lunch</h1>
  <ul class="recipes">
    {allLunches.map((lunch) => (
      <RecipeCard href={lunch.url}>
        {lunch.frontmatter.title}
      </RecipeCard>
    ))}
  </ul>
</Layout>