---
import Layout from '../layouts/Layout.astro'

const allBreakfasts = await Astro.glob('./ontbijt/*.md')
---

<Layout title="Ontbijt">
  <h1>Ontbijt</h1>
  <ul>
    {allBreakfasts.map((breakfast) => (
      <li>
        <a href={breakfast.url}>
          {breakfast.frontmatter.title}
        </a>
      </li>
    ))}
  </ul>
</Layout>