---
import Layout from '../layouts/Layout.astro'
import RecipeCard from '../components/RecipeCard.astro'

const allBreakfasts = Object.values(import.meta.glob('./ontbijt/*.md', { eager: true }))
---

<Layout title="Ontbijt">
  <h1>🥞 Ontbijt</h1>
  <p class="size-20">Pannekoeken, overnight oats, wafels, start je dag goed en gezond!</p>
  <ul class="recipes">
    {allBreakfasts.map((breakfast) => (
      <RecipeCard href={breakfast.url}>
        {breakfast.frontmatter.title}
      </RecipeCard>
    ))}
  </ul>
</Layout>