---
import Layout from '../layouts/Layout.astro'
import RecipeCard from '../components/RecipeCard.astro'

const allOthers = await Astro.glob('./overig/*.md')
---

<Layout title="Overig">
  <h1>Overig</h1>
  <ul class="recipes">
    {allOthers.map((other) => (
      <RecipeCard href={other.url}>
        {other.frontmatter.title}
      </RecipeCard>
    ))}
  </ul>
</Layout>
