<header>
  <nav>
    <ul>
      <li>
        <a href="/diner">Diner</a> 
      </li>
      <li>
        <a href="/snacks">Lunch</a> 
      </li>
      <li>
        <a href="/snacks">Ontbijt</a> 
      </li>
      <li>
        <a href="/snacks">Snacks</a> 
      </li>
      <li>
        <a href="/snacks">Dressing</a> 
      </li>
      <li>
        <a href="/snacks">Overig</a> 
      </li>
    </ul>
  </nav>
</header>