<header>
  <nav>
    <ul>
      <li>
        <a href="/diner">Diner</a> 
      </li>
      <li>
        <a href="/lunch">Lunch</a> 
      </li>
      <li>
        <a href="/ontbijt">Ontbijt</a> 
      </li>
      <li>
        <a href="/snacks">Snacks</a> 
      </li>
      <li>
        <a href="/overig">Overig</a> 
      </li>
    </ul>
  </nav>
</header>

<style>
  nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style-type: none;
  }
</style>
