<header>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a> 
      </li>      
      <li>
        <a href="/diner">Diner</a> 
      </li>
      <li>
        <a href="/lunch">Lunch</a> 
      </li>
      <li>
        <a href="/ontbijt">Ontbijt</a> 
      </li>
      <li>
        <a href="/snacks">Snacks</a> 
      </li>
      <li>
        <a href="/overig">Overig</a> 
      </li>
      <li>
        <a href="/admin">Admin</a> 
      </li>
    </ul>
  </nav>
</header>

<style>
  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    list-style-type: none;
  }

  li:first-of-type {
    margin-right: auto;
  }

  li:last-of-type {
    margin-left: auto;
  }
</style>
