---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
---

<header>
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href="/diner/">Diner</a>
    </li>
    <li class="menu-item">
      <a href="/lunch/">Luch</a>
    </li>
    <li class="menu-item">
      <a href="/ontbijt/">Ontbijt</a>
    </li>
    <li class="menu-item">
      <a href="/snacks/">Snacks</a>
    </li>
    <li class="menu-item">
      <a href="/Overig/">Overig</a>
    </li>
    <li class="menu-item">
      <a href="https://www.buymeacoffee.com/markteekman" title="external link" rel="external noopener noreferrer">❤ Support️</a>
    </li>
  </Navigation>
</header>

<style lang="scss">
  @use '../assets/scss/base/breakpoint' as *;

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    @include breakpoint(medium) {
      flex-wrap: nowrap;
    }

    img {
      max-height: 40px;
    }
  }
</style>
