backend:
  name: git-gateway
  branch: main
  commit_messages:
    create: 'Create {{collection}} “{{slug}}”'
    update: 'Update {{collection}} “{{slug}}”'
    delete: 'Delete {{collection}} “{{slug}}”'
    uploadMedia: '[skip ci] Upload “{{path}}”'
    deleteMedia: '[skip ci] Delete “{{path}}”'

media_folder: 'public/images/uploads'
public_folder: '/images/uploads'

collections:
  - name: 'diner'
    label: 'Diner'
    folder: 'src/pages/diner'
    create: true
    fields:
      - { label: 'Layout', name: 'layout', widget: 'hidden', default: '../../layouts/Recipe.astro' }
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
  - name: 'bijgerecht'
    label: 'Bijgerecht'
    folder: 'src/pages/bijgerecht'
    create: true
    fields:
      - { label: 'Layout', name: 'layout', widget: 'hidden', default: '../../layouts/Recipe.astro' }
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
  - name: 'lunch'
    label: 'Lunch'
    folder: 'src/pages/lunch'
    create: true
    fields:
      - { label: 'Layout', name: 'layout', widget: 'hidden', default: '../../layouts/Recipe.astro' }
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
  - name: 'ontbijt'
    label: 'Ontbijt'
    folder: 'src/pages/ontbijt'
    create: true
    fields:
      - { label: 'Layout', name: 'layout', widget: 'hidden', default: '../../layouts/Recipe.astro' }
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
  - name: 'snack'
    label: 'Snack'
    folder: 'src/pages/snack'
    create: true
    fields:
      - { label: 'Layout', name: 'layout', widget: 'hidden', default: '../../layouts/Recipe.astro' }
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
  - name: 'overig'
    label: 'Overig'
    folder: 'src/pages/overig'
    create: true
    fields:
      - { label: 'Layout', name: 'layout', widget: 'hidden', default: '../../layouts/Recipe.astro' }
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Body', name: 'body', widget: 'markdown' }     
  - name: 'voorbeeld'
    label: 'Voorbeeld'
    folder: 'src/pages/voorbeeld'
    create: false
    fields:
      - { label: 'Layout', name: 'layout', widget: 'hidden', default: '../../layouts/Recipe.astro' }
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Body', name: 'body', widget: 'markdown' } 