---
import SiteHead from '../components/SiteHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

function comparePaths (path) {
  return Astro.url.pathname.includes(path)
}

function getCurrentPath () {
  let path

  if (comparePaths('diner')) {
    path = '/diner'
  } else if (comparePaths('lunch')) {
    path = '/lunch'
  } else if (comparePaths('ontbijt')) {
    path = '/ontbijt'
  } else if (comparePaths('snacks')) {
    path = '/snacks'
  } else if (comparePaths('overig')) {
    path = '/overig'
  } else {
    path = '/'
  }

  return path
}

const { frontmatter } = Astro.props
---

<!DOCTYPE html>
<html lang="nl">
	<SiteHead title={frontmatter.title} />
	<body class="recipe">
    <Header />
    <main class="space-content">
      <a id="back-to-overview" href={getCurrentPath()}>
        	&larr; Terug naar overzicht
      </a>
      <h1>{frontmatter.title}</h1>
      <slot />
    </main>
    <Footer />
	</body>
</html>

<style is:global>
  .recipe img {
    border-radius: 10px;
  }
</style>
